<%- include("./partials/header.ejs") %>

<%- include("./partials/flash.ejs") %>

<section>
  <%- include("./partials/navbar.ejs") %>

  <div class = "container mx-auto text-center mt-5">
    <h1><%= message %></h1>
  </div>

</section>


<%- include("./partials/footer.ejs") %>
<%- include("./partials/script.ejs") %>